<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <DOTNET_HOST_FACTORY_RESOLVER_DEFAULT_TIMEOUT_IN_SECONDS>7200</DOTNET_HOST_FACTORY_RESOLVER_DEFAULT_TIMEOUT_IN_SECONDS>
      <DOTNET_RUNNING_IN_TEST>true</DOTNET_RUNNING_IN_TEST>
      <DOTNET_TEST_TESTSESSIONTIMEOUT>0</DOTNET_TEST_TESTSESSIONTIMEOUT>
    </EnvironmentVariables>
    <TestSessionTimeout>300000</TestSessionTimeout>
  </RunConfiguration>
  <xUnit>
    <DiagnosticMessages>true</DiagnosticMessages>
  </xUnit>
</RunSettings>